@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Domine:wght@400..700&family=Italianno&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mansalva&family=Noto+Sans+KR:wght@100..900&family=Sen:wght@400..800&family=Shadows+Into+Light+Two&family=The+Girl+Next+Door&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--fontp: "Sen", sans-serif;
	--fontheader: "Sen", sans-serif;
	--fontheaderaccent: "The Girl Next Door", cursive;

	--fontsizeh1: 2.8rem;
	--lineheighth1: 1em;

	--fontsizeh2: 5rem;
	--lineheighth2: 1em;

	--fontsizeblockquote: 1.6rem;
	--lineheightblockquote: .9em;

	--fontsizep: 1.2rem;
	--lineheightp: 1.4em;

	--fontsizefooter: .9rem;
	--lineheightfooter: 1.5em;

	--paddingblock: 1rem;
	--paddinginline: 1rem;
	--marginblock: 3rem;
	--gap: 2rem;
	
	--backgroundcolor: #EFDFD0;
	--bodytextcolor: #545045;
	--stickynotecolor: #FDF7EF;
	--yellow: #927148;
	--maroon: #532822;
	--shadowcolor: 0, 0, 0;
	--boxshadow: 0 0.3rem 0.6rem rgba(var(--shadowcolor), .3);

	--tapecolor: #545045;
	--taperotate: -20deg;

	scroll-behavior: smooth;

}

body {
	background-color: var(--backgroundcolor);
	color: var(--bodytextcolor);
	padding-inline: var(--paddinginline);
	font-family: var(--fontp);

}



/* ------------------Nav-------------------- */

nav {
	position: sticky;
	inset-block-start: 0;
	z-index: 10;
	padding-block: var(--paddingblock);
}

nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* flex-wrap: wrap; */
	list-style: none;
	color: var(--stickynotecolor);

	& > li {
		box-shadow: var(--boxshadow);
		/* clip-path: polygon(8% 0, 100% 0, 92% 100%, 0 100%); */
	}

	& > li:first-of-type { 
		background: var(--yellow);
		transform: rotate(-3deg);
	}

	& > li:nth-of-type(2) { 
		background: var(--maroon);
		transform: rotate(3deg);
	}

	& > li:nth-of-type(3) { 
		background: var(--bodytextcolor); 
		transform: rotate(-2deg);
	}

	& > li > a {
		display: block;
		padding-block: calc(var(--paddingblock) / 3);
		padding-inline: calc(var(--paddinginline) * 1.7);
		color: var(--stickynotecolor);
		text-decoration: none;
		font-family: var(--fontheaderaccent);
		font-size: calc(var(--fontsizep) * .9);
		white-space: nowrap;
	}
}




/* ---------- Hero ---------- */

header, 
.blockquotesection, 
footer {
	margin-inline: calc(50% - 50vw);
	inline-size: 100vw;
	padding-block: var(--marginblock);
	background:
		linear-gradient(var(--bodytextcolor) 0.1px, transparent 1px),
		linear-gradient(90deg, var(--bodytextcolor) 0.1px, transparent 1px);
	background-size: 30px 30px;
	overflow: hidden;
	padding-block: 3rem;
}

#hero {
	padding-inline: var(--paddinginline);
	display: flex;
	gap: var(--gap);
	flex-direction: column;
	align-items: flex-start;
	position: relative;

}

svg {
	position: absolute;
	inset-block-end: 1.5rem;
	inset-inline-end: 1.5rem;
	/* inset: 0; */
}

/* figure {
	position: relative;
	overflow: hidden;
}

figure img {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	display: block;
}

#toppic {
	grid-column: 1 / 7;
	grid-row: 1 / 3;
	aspect-ratio: 16 / 7;
	z-index: 3;
}

#toppic::before {
	inset-block-start: -0.8rem;
	inset-inline-start: -1rem;
}

#bottompic {

}

#bottompic::before {
	inset-block-end: -0.8rem;
	inset-inline-end: 8%;
} */

/* ---------- Sticky Notes ---------- */

h1, 
#hero > p,
blockquote {
	padding: var(--paddinginline);
	background: var(--stickynotecolor);
	box-shadow: var(--boxshadow);
}

#hero > p {
	font-family: var(--fontheaderaccent);
	font-size: var(--fontsizep);
	line-height: var(--lineheightp);
}

h1 {
	font-family: var(--fontheader);
	font-size: var(--fontsizeh1);
	line-height: var(--lineheighth1);
	color: var(--bodytextcolor);
	text-align: start;
	padding-inline: var(--paddinginline);
	padding-block: var(--marginblock);
	position: relative;
}

h1::before {
	content: "";
	position: absolute;
	inline-size: 8rem;
	block-size: 2rem;
	background: var(--bodytextcolor);
	box-shadow: var(--boxshadow);
	transform: rotate(-4deg);
	inset-block-start: -1rem;
	inset-inline-start: 6.5rem;
	z-index: 5;
}

/* h1::before {
	inset-block-start: -0.9rem;
	inset-inline-start: 20%;
} */

#topauthor {
	align-self: flex-end;
	position: relative;
	/* inset-block-start: 36%;
	inset-inline-end: 6%; */
}

#topauthor::before {
	content: "";
	position: absolute;
	inline-size: 4rem;
	block-size: 1rem;
	background: var(--yellow);
	box-shadow: var(--boxshadow);
	transform: rotate(2deg);
	inset-block-start: -.5rem;
	inset-inline-start: 2.1rem;
	z-index: 5;
}

/* 
#topauthor::before {
	inset-block-start: -0.9rem;
	inset-inline-end: 5%;
} */

#bottomauthor {
	align-self: flex-start;
	position: relative;
	/* inset-block-end: 6%;
	inset-inline-start: 10%; */
}

#bottomauthor::before {
	content: "";
	position: absolute;
	inline-size: 4rem;
	block-size: 1rem;
	background: var(--maroon);
	box-shadow: var(--boxshadow);
	transform: rotate(2deg);
	inset-block-start: -.5rem;
	inset-inline-start: 2.1rem;
	z-index: 5;
}


/* #bottomauthor::before {
	inset-block-start: -0.9rem;
	inset-inline-start: 10%;
} */



/* ------------------Tape-------------------- */

/* figure > img::before,
header > p::before {
	content: "";
	position: absolute;
	inline-size: 4.2rem;
	block-size: 0.9rem;
	box-shadow: var(--boxshadow);
} */


/* ------------------Main-------------------- */

/* h2 {
	font-size: var(--fontsizeh2);
} */

article > p {
	margin-block: var(--marginblock);
	line-height: var(--lineheightp);
	hyphens: none;
	color: var(--bodytextcolor);
	font-weight: 400;
	font-size: var(--fontsizep);
}

.blockquotesection {
	padding-block: calc(var(--marginblock) * 2);
}

blockquote {
	font-family: var(--fontheader);
	font-size: var(--fontsizeblockquote);
	line-height: var(--lineheightblockquote);
	color: var(--accentcolor);
	margin-inline: calc(var(--paddinginline) * 2);
	padding-inline: var(--paddinginline);
	padding-block: var(--marginblock);
	position: relative;
	box-shadow: var(--boxshadow);
}

blockquote::before {
	content: "";
	position: absolute;
	inline-size: 5rem;
	block-size: 1.4rem;
	background: var(--bodytextcolor);
	box-shadow: var(--boxshadow);
	transform: rotate(var(--taperotate));
	inset-block-start: -.1rem;
	inset-inline-start: -1rem;
	z-index: 5;
}

blockquote::after {
	content: "";
	position: absolute;
	inline-size: 5rem;
	block-size: 1.4rem;
	background: var(--bodytextcolor);
	box-shadow: var(--boxshadow);
	transform: rotate(var(--taperotate));
	inset-block-end: -.1rem;
	inset-inline-end: -1rem;
	z-index: 5;
}

sup {
	color: var(--stickynotecolor);
	background-color: var(--maroon);
	font-family: var(--fontheaderaccent);
	font-size: var(--fontsizep);
	vertical-align: top;
	scroll-margin-top: calc((var(--paddingblock) / 2) + var(--fontsizeh2) + (calc(var(--paddingblock)) * 6)); 
	padding-inline: var(--paddinginline);
	/* transform: rotate(-3deg); */
}

ol {
	list-style-type: decimal;
	list-style-position: inside; 
	font-size: var(--fontsizefooter);
	line-height: var(--lineheightfooter)
}

.italic {
	font-style: italic;
}


/* ------------------Footer-------------------- */

footer {
	display: block;
	padding-block: var(--marginblock);
	color: var(--bodytextcolor);
	padding-inline: 5rem;
	font-family: var(--fontp);
	margin-block-start: var(--marginblock);

	& > p {
		box-shadow: var(--boxshadow);
		background-color: var(--stickynotecolor);
		padding: var(--paddinginline);
		text-align: center;
	}

}