@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');


/* ---------------- CSS Variables ---------------- */
:root {
	--orange: #FFCA94;
	--yellow: #FFE182;
	--green: #9BBF6B;
	--blue: #A1DDEC;
	--purple: #DCCDFA;
	--pink: #F4C7DA;
	--white: white;
	--black: black;
	--gradientbase: #E1E1E1;

	--fontheader: "DM Sans", sans-serif;
	--fontp: "Rethink Sans", sans-serif;
	--fontlogo: "Montserrat", sans-serif;


	--fontsizeh1: 5rem;
	--lineheighth1: .8em;

	--fontsizesummary: 1.8rem;

	--fontsizeh2: 2.5rem;
	--lineheighth2: 1.2em;

	--fontsizeblockquote: 2.8rem;
	--lineheightblockquote: .9em;

	--fontsizelogo: 1.4rem;

	--fontsizep: 1.2rem;
	--lineheightp: 1.6em;

	--fontsizefootnote: 1rem;
	--lineheightfootnote: 1.4em;

	--fontsizefooter: 1.1rem;
	--lineheightfooter: 1.4em;

	--smallpadding: 1rem;
	--mediumpadding: 2rem;
	--largepadding: 3rem;
	--xlpadding: 6rem;
	--gap: 2rem;

	scroll-behavior: smooth;

	@media (width >= 800px) {
		--fontsizeh1: 5.5rem;
		--fontsizeh2: 3rem;
	}

	@media (width >= 1400px) {
		--fontsizeh1: 10rem;
		--fontsizeh2: 4rem;
		--fontsizesummary: 2rem;
	}
}


/* ---------------- Body ---------------- */
body {
	background-color: var(--white);
	color: var(--black);
	position: relative;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background-image: url("backgroundtexture.jpg");
		background-size: cover;
		background-position: center;
		opacity: 0.1;
		z-index: -1;
	}
}


/* ---------------- Typography ---------------- */
h1, h2, summary {
	font-family: var(--fontheader);
	text-transform: lowercase;
}

h1 {
	text-align: end;
	font-weight: 400;
	font-size: var(--fontsizeh1);
	line-height: var(--lineheighth1);
}

h2 {
	text-align: start;
	font-size: var(--fontsizeh2);
	font-weight: 500;
	line-height: var(--lineheighth2);
}

summary {
	font-weight: 300;
	font-size: var(--fontsizesummary);
}

p, footer {
	font-family: var(--fontp);
	font-size: var(--fontsizep);
	line-height: var(--lineheightp);
}

a {
	font-family: var(--fontp);
}

.logo {
	font-family: var(--fontlogo);
	font-weight: 600;
	font-size: var(--fontsizelogo);
}

em {
	font-style: italic;
}


/* ---------------- Nav Bar ---------------- */
nav {
	border-block-end-width: .1rem;
	border-block-end-style: solid;
	border-block-end-color: var(--gradientbase);
	display: block;
	margin-inline: calc(50% - 50vw);
	inline-size: 100vw;
	position: fixed;
	inset-block-start: 0;
	z-index: 10;
	
	& > ul {
		display: flex;

		& > li {
			block-size: var(--mediumpadding);
					
			& > a {
				display: flex;
				align-items: center;
				justify-content: center;
				block-size: 100%;
				inline-size: 100%;

				& > svg {
					block-size: 1.5rem;
					inline-size: auto;

					& > path {
						fill: var(--black);
					}
				}
			}

			&:not(:first-child) {
				flex: 1 1 0;
			}

			&:nth-of-type(1) {
				background-color: var(--white);
				padding-inline: var(--smallpadding);
				
				& > a > section {
					display: flex;
					flex-direction: row;
					flex: 1;
					gap: var(--smallpadding);

					& > .logo {
						display: none;

						@media (width >= 800px) {
							display: block;
						}
					}
				}
			}

			&:nth-of-type(2) {
				background: linear-gradient(90deg, var(--blue) 0%, var(--gradientbase) 75%, var(--blue) 96%);

				@media (width >= 800px) {
					&:hover {
						background: linear-gradient(90deg, var(--gradientbase) 0%, var(--blue) 75%, var(--gradientbase) 96%);
					}
				}
			}

			&:nth-of-type(3) {
				background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 75%, var(--pink) 96%);
			
				@media (width >= 800px) {
					&:hover {
						background: linear-gradient(90deg, var(--gradientbase) 0%, var(--pink) 75%, var(--gradientbase) 96%);
					}
				}
			}

			&:nth-of-type(4) {
				background: linear-gradient(90deg, var(--yellow) 0%, var(--gradientbase) 75%, var(--yellow) 96%);
			
				@media (width >= 800px) {
					&:hover {
						background: linear-gradient(90deg, var(--gradientbase) 0%, var(--yellow) 75%, var(--gradientbase) 96%);
					}
				}
			}
		}
	}

	@media (width >= 800px) {
		& > ul > li {
			block-size: var(--largepadding);
		}
	}
}

.screenreader {
	font-size: var(--fontsizep);
	font-weight: 500;
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-inline-style: 0;
}


/* ---------------- Main Grid Layout ---------------- */
main {
	margin-block-start: var(--mediumpadding);
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-template-areas:
		"intro"
		"colophon"
		"title"
		"feeling"
		"identity"
		"style";

	& > section {
		padding: var(--smallpadding);
	}

	@media (width >= 800px) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 10rem 55vh 10rem;
		grid-template-areas:
			"intro    colophon    feeling     feeling"
			"title    title       feeling     feeling"
			"title    title       identity    style";
		gap: 0;
		margin-block-start: var(--largepadding);
	}
}


/* ---------------- Gradient Sections ---------------- */
#intro,
#colophon,
#feeling,
#identity,
#style {
	@media (width >= 800px) {
		position: relative;
		z-index: 1;
		transition: all 0.3s ease;

		& details {
			block-size: 100%;

			& > summary {
				list-style: none;
				cursor: pointer;
			}
		}
	}
}

#intro { 
	grid-area: intro;
	background: linear-gradient(90deg, var(--gradientbase) 0%, var(--green) 100%);

	@media (width >= 800px) {
		&:hover {
			background: linear-gradient(90deg, var(--green) 0%, var(--gradientbase) 100%);
		}

		&:has(details[open]) {
			grid-column: 1 / 3;
			grid-row: 1 / 4;
			z-index: 5;
		}
	}
}

#colophon { 
	grid-area: colophon; 
	background: linear-gradient(90deg, var(--purple) 0%, var(--gradientbase) 100%);

	@media (width >= 800px) {
		&:hover {
			background: linear-gradient(90deg, var(--gradientbase) 0%, var(--purple) 100%);
		}
		
		&:has(details[open]) {
			grid-column: 1 / 3;
			grid-row: 1 / 4;
			z-index: 5;
		}
	}
}

#feeling { 
	grid-area: feeling; 
	background: linear-gradient(90deg, var(--blue) 0%, var(--gradientbase) 100%);

	@media (width >= 800px) {
		background: linear-gradient(90deg, var(--blue) 0%, var(--gradientbase) 100%);

		&:hover {
			background: linear-gradient(180deg, var(--gradientbase) 0%, var(--blue) 100%);
		}
		
		&:has(details[open]) {
			grid-column: 3 / 5;
			grid-row: 1 / 4;
			z-index: 5;
		}
	}
}

#identity { 
	grid-area: identity; 
	background: linear-gradient(90deg, var(--gradientbase) 0%, var(--pink) 100%);

	@media (width >= 800px) {
		grid-row-start: 3;

		&:hover {
			background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 100%);
		}
		
		&:has(details[open]) {
			grid-column: 3 / 5;
			grid-row-start: 1;
			grid-row-end: 4;
			z-index: 5;
		}
	}
}

#style { 
	grid-area: style; 
	background: linear-gradient(90deg, var(--yellow) 0%, var(--gradientbase) 100%);

	@media (width >= 800px) {
		grid-row-start: 3;

		&:hover {
			background: linear-gradient(90deg, var(--gradientbase) 0%, var(--yellow) 100%);
		}
		
		&:has(details[open]) {
			grid-column: 3 / 5;
			grid-row-start: 1;
			grid-row-end: 4;
			z-index: 5;
		}
	}
}

#title { 
	grid-area: title;
	background: linear-gradient(90deg, var(--gradientbase) 0%, var(--orange) 100%);
	text-align: end;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 40vh auto;
	grid-template-areas:
		"h1      h1"
		"date    author";
	gap: var(--gap);

	& > h1 {
		grid-area: h1;
	}

	& > p:nth-of-type(1) {
		grid-area: date;
	}

	& > p:nth-of-type(2) {
		grid-area: author;
	}

	@media (width >= 800px) {
		grid-auto-rows: 60vh auto;
	}
}


/* ---------------- Details ---------------- */
details {	
	& > summary {
		cursor: pointer;
		position: relative;

		&::after {
			content: "▸";
			font-size: var(--fontsizesummary);
			position: absolute;
			inset-block-start: 50%;
			inset-inline-end: 0;
			transform: translateY(-50%);
		}
	}

	& > div {
		opacity: 0;
		max-block-size: 0;
		overflow: hidden;
		transition: max-block-size 1s ease, opacity 1s ease;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		grid-template-areas:
			"h2           h2"
			"date         author"
			"readmore     readmore";
		row-gap: var(--gap);
	
		& > h2 {
			grid-area: h2;
			text-align: start;
			text-transform: none;
		}

		& > p:nth-of-type(1) {
			grid-area: date;
			text-align: start;
		}

		& > p:nth-of-type(2) {
			grid-area: author;
			text-align: start;
		}

		& > a {
			grid-area: readmore;
			text-align: end;
			text-transform: lowercase;
			font-style: italic;
			padding-block-start: 30vh;
			font-size: var(--fontsizep);

			/* @media (width >= 800px) {
				padding-block-start: 50vh;
			} */
		}
	}

	&[open] {
		& > summary::after {
			content: "▾";
		}

		& > div {
			opacity: 1;
			padding-block-start: var(--smallpadding);
			max-block-size: 100vh;
		}
	}

	/* @media (width >= 800px) {
		&[open] {
			& > div {
				opacity: 0;
				max-block-size: 0;
				padding-block-start: 0;
			}
		}
	} */
}

#intro > details > div,
#colophon > details > div {
	display: block;
}

#identity > details > div {
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"h2          h2          h2"
		"date        author      author2"
		"readmore    readmore    readmore";

	& > p:nth-of-type(3) {
		grid-area: author2;
		text-align: start;
	}
}

/* ---------------- Footer ---------------- */
footer {
	padding-block-start: var(--largepadding);
	padding-block-end: var(--xlpadding);
	padding-inline: var(--mediumpadding);
	border-block-start: .1rem solid var(--gradientbase);
	display: flex;
	flex-direction: column;
	row-gap: var(--largepadding);

	& > ul > li {
		&:not(:last-child) {
			margin-block-end: var(--smallpadding);
		}

		& > a {
			font-size: var(--fontsizefooter);
		}
	}

	& a:hover {
		text-decoration: underline;
		text-decoration-color: var(--black);
	}

	@media (width >= 800px) {
		flex-direction: row;

		& > * {
			flex: 1;
		}
	}
}