:root {
	--font-size-h1: 3rem;
	--font-size-h2: 1.8rem;
	--line-height-h2: 1.2em;

	@media (width <= 401px) {
		--font-size-h1: 2rem;
		--font-size-blockquote: 2rem;
	}

	@media (width >= 1050px) {
		--font-size-h1: 2.6rem;
	}
		
	@media (width >= 1400px) {
		--font-size-h1: 3.1rem;
		--font-size-h2: 2rem;
	}

	@media (width >= 1700px) {
		--font-size-h1: 4rem;
	}
}


/* ------------------Nav-------------------- */
nav > ul > li:nth-of-type(3) > a {
	background-color: var(--style-color);
	border-inline-width: 6px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
	color: var(--border-color);

	@media (width >= 1050px) {
		border: var(--window-border);
	}
}


/* ------------------Hero-------------------- */
.border-pattern > span {
	&:is(:nth-of-type(1), :nth-of-type(4), :nth-of-type(9), :nth-of-type(12)) {
		background-color: var(--style-corner-color);
	}
}

h1 {
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"style   	empty1"
		"empty2 	not"
		"four  		four"
		"empty5		letter"
		"word  		empty6";

	& > span {
		background-color: var(--style-color);
		display: block;

		&:nth-of-type(1) {
			grid-area: style;
			text-align: start;
		}

		&:nth-of-type(2) {
			grid-area: empty1;
			background-color: var(--title-color);
		}

		&:nth-of-type(3) {
			grid-area: empty2;
			background-color: var(--title-color);
		}

		&:nth-of-type(4) {
			grid-area: not;		
			text-align: end;
		}

		&:nth-of-type(5) {
			grid-area: four;		
			text-align: center;
		}

		&:nth-of-type(6) {
			grid-area: empty5;		
			background-color: var(--title-color);
		}

		&:nth-of-type(7) {
			grid-area: letter;		
			text-align: end;
		}

		&:nth-of-type(8) {
			grid-area: word;		
			text-align: start;
		}

		&:nth-of-type(9) {
			grid-area: empty6;		
			background-color: var(--title-color);
		}
	}
}


/* ------------------Main-------------------- */
article > p > a, 
article > p > sup > a, 
#about-author-style > p > a, 
aside > ol > li > a, 
.article-link > div > a {
	text-decoration-color: var(--style-color);

		&:hover {
			color: var(--border-color);
			background-color: var(--style-color); 
		}
	}

blockquote {
	background-color: var(--style-color);	
}


/* ------------------Footnotes-------------------- */
aside > div > h2 {
	background-color: var(--style-color);
}


/* ------------------About Author-------------------- */
#about-author-style > div > h2 {
	background-color: var(--style-color);
}


/* ------------------Back to Top Arrow-------------------- */
#back-to-top {
	background-color: var(--style-color);

	&:hover {
		background-color: var(--title-color);
	}
}


/* ------------------Footer-------------------- */
footer {
	margin-inline: var(--small-padding);
	padding-inline: var(--small-padding);

	@media (width >= 750px) {
		margin-inline: var(--medium-padding);
	}
}
