:root {
	--fontsizeh1: 4rem;
	--fontsizeblockquote: 2.5rem;
	--fontsizeh2: 1.6rem;

	@media (width >= 800px) {
		--fontsizeh2: 2rem;
	}
}

#hero, main, footer {
	padding-inline: var(--smallpadding);
}



/* ------------------Hero-------------------- */
#hero {
	display: flex;
	flex-direction: column;
	margin-block-start: var(--xlpadding);
	gap: var(--gap);
}

h1 {
	font-weight: 500;
	display: flow-root;

	& > span {
		display: block;
	}

	& > span:nth-of-type(1) {
		text-align: start;
		background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 75%, var(--pink) 96%)
	}
	
	& > span:nth-of-type(2) {
		text-align: end;
		background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 75%, var(--pink) 96%)
	}

	& > span:nth-of-type(3) {
		text-align: start;
		background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 46%, var(--pink) 96%)
	}

	& > span:nth-of-type(4) {
		text-align: center;
		background: linear-gradient(90deg, var(--pink) 57%, var(--gradientbase) 100%)
	}	

	& > span:nth-of-type(5) {
		text-align: end;
		background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 19%, var(--pink) 57%, var(--gradientbase) 96%)
	}

	& > span:nth-of-type(6) {
		text-align: start;
		background: linear-gradient(90deg, var(--gradientbase) 0%, var(--pink) 36%)
	}

	& > span:nth-of-type(7) {
		text-align: center;
		background: linear-gradient(90deg, var(--gradientbase) 3%, var(--pink) 63%, var(--gradientbase) 85%, var(--pink) 94%)
	}
}

header > ul {
	display: flex;
	justify-content: space-between;
	font-size: var(--fontsizep);
	font-weight: 300;
	font-style: italic;
	border-block-end-width: 0.1rem;
	border-block-end-style: solid;
	border-block-end-color: var(--gradientbase);
	
	& > li {
		padding-block: 1rem;

		&:last-of-type {
			justify-content: end;
		}
	}
}




/* ------------------Main-------------------- */
main {
	display: block;
}

article > p {
	margin-block-end: var(--largepadding);
	line-height: var(--lineheightp);
	hyphens: none;
	color: var(--black);
	font-weight: 400;
	font-size: var(--fontsizep);
	
	&:last-of-type {
		margin-block-end: var(--mediumpadding);
	}

		& > a, 
		& > sup {
			text-decoration: underline;
			text-decoration-color: var(--pink);
			text-decoration-thickness: .25rem;

			&:hover {
				background-color: var(--pink); 
			}
		}
}

blockquote {
	font-family: var(--fontheader);
	font-size: var(--fontsizeblockquote);
	line-height: var(--lineheightblockquote);
	color: var(--black);
	font-weight: 500;
	text-wrap: balance;
	margin-block: 5rem;

	& > span {
		display: block;
	}

	& > span:nth-of-type(1) {
		text-align: start;
		background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 75%, var(--pink) 96%)
	}

	& > span:nth-of-type(2) {
		text-align: end;
		background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 46%, var(--pink) 96%)
	}

	& > span:nth-of-type(3) {
		text-align: center;
		background: linear-gradient(90deg, var(--pink) 57%, var(--gradientbase) 100%)
	}	
}

/* .definition {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-color: var(--black);
} */





/* ------------------Footnotes-------------------- */

aside {
	color: var(--black);
	font-size: var(--fontsizefootnote);
	line-height: var(--lineheightfootnote);
	margin-block-start: var(--xlpadding);

	& > h2 {
		font-size: var(--fontsizeh2);
		line-height: var(--lineheighth2);
		text-align: start;
		background: linear-gradient(90deg, var(--pink) 0%, var(--gradientbase) 75%, var(--pink) 96%)
	}

	& > ol {
		list-style-type: decimal;
		font-size: var(--fontsizefootnote);
		font-family: var(--fontp);
		list-style-position: inside;
		line-height: var(--lineheightfootnote);
		margin-block: var(--mediumpadding);
	
		& > li::marker {
			color: var(--black);
			background-color: var(--pink);
		}

		& > li > a {
			color: var(--black);
			text-decoration: underline;
			text-decoration-color: var(--pink);
			text-decoration-thickness: .25rem;

			&:hover {
				background-color: var(--pink);
			}
		}
	}
}

sup {
	vertical-align: top;
	scroll-margin-top: 50vh; 
}




/* ------------------Footer-------------------- */

footer {
	margin-inline: var(--smallpadding);

	@media (width >= 800px) {
		margin-inline: var(--mediumpadding);
	}
}




/* ---------------- Media Queries ---------------- */
@media (width >= 800px) {
	#flexbody {
		display: flex;
		flex-direction: row;
		gap: 0;
		align-items: flex-start;

		& > header {
			flex: 0 0 40vw;	
			position: sticky;
			inset-block-start: var(--xlpadding);
			align-self: flex-start;
			margin-block-start: 0;
			padding-block-start: 0;
			min-block-size: 82vh;
			justify-content: space-between;		
			padding-inline-start: var(--mediumpadding);
		}

		& > main {
			flex: 1;			
			padding-inline-start: var(--mediumpadding);		
			padding-inline-end: 8vw;
			margin-block-start: var(--xlpadding);
		}
	}
}

@media (width >= 1400px) {
	:root {
		--fontsizeh1: 6rem;
		--fontsizep: 1.4rem;
		--fontsizeblockquote: 3.5rem;
	}

	#flexbody {
		gap: var(--gap);

		& > main {
			flex: 1;			
			padding-inline-start: var(--mediumpadding);		
			padding-inline-end: 10vw;
		}
	}
}