:root {
	--font-size-h1: 2.7rem;
	--font-size-h2: 1.8rem;
	--line-height-h2: 1.2em;


	@media (width <= 401px) {
		--font-size-h1: 1.5rem;
		--font-size-blockquote: 2rem;
	}

	@media (width >= 1050px) {
		--font-size-h1: 2.3rem;
	}

	@media (width >= 1400px) {
		--font-size-h1: 2.5rem;
		--font-size-h2: 2rem;
	}

	@media (width >= 1700px) {
		--font-size-h1: 3.3rem;
	}
}


/* ------------------Nav-------------------- */
nav > ul > li:nth-of-type(2) > a {
	background-color: var(--identity-color);
	border-inline-width: 6px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
	color: var(--border-color);

	@media (width >= 1050px) {
		border: var(--window-border);
	}
}


/* ------------------Hero-------------------- */
.border-pattern > span {
	&:is(:nth-of-type(1), :nth-of-type(4), :nth-of-type(9), :nth-of-type(12)) {
		background-color: var(--identity-corner-color);
	}
}

h1 {
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
		"post   		empty1"
		"empty2   		identity"
		"design  		design"
		"empty3  		brands"
		"politics  		politics"
		"tech  			tech"
		"instability    instability";

	& > span {
		background-color: var(--identity-color);

		&:nth-of-type(1) {
			grid-area: post;
			text-align: start;
		}

		&:nth-of-type(2) {
			grid-area: empty1;
			background-color: var(--title-color);
		}

		&:nth-of-type(3) {
			grid-area: empty2;
			background-color: var(--title-color);
		}

		&:nth-of-type(4) {
			grid-area: identity;		
			text-align: end;
		}

		&:nth-of-type(5) {
			grid-area: design;		
			text-align: center;
		}

		&:nth-of-type(6) {
			grid-area: empty3;	
			background-color: var(--title-color);	
		}

		&:nth-of-type(7) {
			grid-area: brands;		
			text-align: center;
		}

		&:nth-of-type(8) {
			grid-area: politics;		
			text-align: end;
		}

		&:nth-of-type(9) {
			grid-area: tech;		
			text-align: start;
		}

		&:nth-of-type(10) {
			grid-area: instability;		
			text-align: center;
		}
	}
}


/* ------------------Main-------------------- */
article > p > a, 
article > p > sup > a, 
#about-author-identity > p > a, 
aside > ol > li > a, 
.article-link > div > a {
	text-decoration-color: var(--identity-color);

		&:hover {
			color: var(--border-color);
			background-color: var(--identity-color); 
		}
	}

blockquote {
	background-color: var(--identity-color);	
}


/* ------------------Footnotes-------------------- */
aside > div > h2 {
	background-color: var(--identity-color);
}


/* ------------------About Author-------------------- */
#about-author-identity > div > h2 {
	background-color: var(--identity-color);
}


/* ------------------Back to Top Arrow-------------------- */
#back-to-top {
	background-color: var(--identity-color);

	&:hover {
		background-color: var(--title-color);
	}
}


/* ------------------Footer-------------------- */
footer {
	margin-inline: var(--small-padding);
	padding-inline: var(--small-padding);

	@media (width >= 750px) {
		margin-inline: var(--medium-padding);
	}
}

